parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
    - '#Call to an undefined method .+LocatorLocatorInterface::.+\(\).#'
    - '#Cannot call method getNaturalIdentifier\(\) on .+RestUserTransfer\|null#'
    - '#Parameter .+ of method .+FirstDataTokenizationSaverInterface::saveFirstDataToken\(\) expects string, .+ given\.#'
